* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f6fa;
    color: #333;
}

/* HEADER */
header {
    background: #62fff7;
    color: rgb(255, 255, 255);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: rgb(92, 84, 84);
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

/* SECTION */
.section {
    display: none;
    padding: 60px 40px;
    animation: fade 0.5s;
}

.section.active {
    display: block;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* HOME */
#home {
    text-align: center;
    background: linear-gradient(to right, #00ffbf, #ffffff);
    color: rgb(126, 172, 173);
    height: 80vh;
}

#home h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

#home button {
    padding: 12px 25px;
    border: none;
    background: white;
    color: #0d6efd;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
}

/* PROFILE */
.info {
    margin-top: 20px;
    background: rgb(172, 214, 241);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

/* PROJECT */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(61, 236, 222, 0.1);
}

/* MEDIA */
.media-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.media-box img, video {
    width: 100%;
    border-radius: 10px;
}

.btn {
    text-decoration: none;
    background: #0d6efd;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

/* FOOTER */
footer {
    background: #00d9ff;
    color: white;
    text-align: center;
    padding: 15px;
}